div.singlediv {
	width: 325px;
	height:1550px;
	border:1px solid #e0eeee;
	border-bottom: none; 

}
button {
	background-color: #b8b8b8;
	font-size: 11px;
	font-family:Tahoma;
	float:left;
	margin-top: 15px;
	margin-left:10px;

}
.svimg {
	margin-left:17px;
	margin-right: auto;
	clear:left;
	clear:top;
	vertical-align: middle;
	
}
img {
	border-radius:50%;

}
.icon {
	width: 25px;
	height: 25px;
	margin-bottom: -5px;
	margin-left: 35px;

}
li {
	list-style:none;
	line-height:50px;
	font-family:Tahoma;
	font-size:12px;
	margin-left:-35px;

}
div.imgdiv {
	background-color:#6e8b3d;
	padding-top: 10px;
	padding-bottom: 10px;
	clear:top;
	
}
#svview {
	clear:left;

}
span {
	line-height:20px;
	font-family:Tahoma;
	font-size:12px;	
	/*display: inline;*/
	padding-right: 250px;
	margin-top:-25px;
	margin-left: 10px;
	
}
a {
	text-decoration: none;
	color: black;
	margin-left: 35px;
	display: inline;

}
.briefimg {
	height: 25px;
	width: 25px;
	margin-left: 15px;
	margin-bottom: -5px;

}
.mypeeps {
	height:50px;
	width:300px;
	background-color:#6e8b3d;
	color: white;
	padding-left:10px;
	vertical-align: middle;
	line-height: 50px;
	margin-left:7px;
	margin-bottom:25px;

}
.view {
	height:50px;
	width:315px;
	padding-left:10px;
	background-color:#b8b8b8  ;
	vertical-align: middle;
	line-height: 50px;
	margin-bottom: 10px;
	border-top: 1px solid #e0eeee;
	border-bottom: 1px solid #e0eeee;
	clear:left;
	clear:top;

}
hr {
	border:1px solid #e0eeee;
}



	


